@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);

.mainTitle {
    font-size: 75px;
  }

.shadow {
color: teal;
font-family: Arvo;
font-weight: bold;
text-shadow:
    -3px -3px 0 #222,
    3px -3px 0 #222,
    -3px 3px 0 #222,
    3px 3px 0 #222,
    4px 4px 0 blue,
    5px 5px 0 blue,
    6px 6px 0 blue,
    7px 7px 0 blue;
line-height: 0.8em;
letter-spacing: 0.1em;
transform: scaleY(0.7);
-webkit-transform: scaleY(0.7);
-moz-transform: scaleY(0.7);
margin:0;
text-align: center;
word-wrap: break-word;
}

ul {
    text-align:left;
}

button{
    height:120px;
    width:120px;
    background-repeat:no-repeat;
}

button#ruby{
    background-image:url('../images/ruby.png')
}
button#diamond{
    background-image:url('../images/diamond.png')
}
button#topaz{
    background-image:url('../images/topaz.png')
}
button#emerald{
    background-image:url('../images/emerald.png')
}

p#score{
    font-size:75px;
}